version: '3.4'

networks:
  default:
    driver: bridge
services:
  backend:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    networks:
      - default
    volumes:
      - ./api/app/:/app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000", "--reload"]
    ports:
    - "5000:5000"
    env_file:
      - ./api/.env

  db:
    container_name: api_db
    image: postgres
    restart: always
    env_file:
      - ./api/.env
    ports:
    - "5432:5432"

  front:
    container_name: webapp
    build: 
      context: ./front
      dockerfile: Dockerfile
    networks:
      - default
    volumes:
      - ./front:/app
    command: ["npm", "start"]
    ports:
    - "3000:3000"